@use '../../../styles/index' as styles;
@use '../../../styles/arrows' as arrows;
@use '../../../styles/headline-text' as headline-text;

.welcome {
  position: relative;
  height: calc(100vh - styles.$header-height);
  padding: clamp(2rem, 6vmin, 6rem) styles.$g-pad-x;
  width: 100%;
  max-width: styles.$g-max-width;
  margin: 0 auto;

  &__inner-box {
    display: flex;
    flex-direction: column;
    padding: clamp(2rem, 6vw, 6rem);
  }

  &__caption-group {
    @include styles.setFlex($d: column, $gap: clamp(1rem, 2vw, 2rem));
  }

  &__caption-line {
    display: inline-block; 
  }

  &__caption {
    @include styles.setFlex($d: column, $ai: flex-start, $gap: clamp(0.5rem, 2vw, 1.2rem));
    @include styles.setFont(
      $family: (
        'Syne',
        sans-serif,
      ),
      $size: clamp(2rem, 8vw, 12.5rem),
      $weight: 800,
      $line-height: 0.9,
      $letter-spacing: -0.01em
    );
  }

  &__down {
    @include styles.setFlex($gap: clamp(1rem, 3vw, 2.5rem));
    width: 100%;
    margin-top: 2rem;
    @include styles.setFont($size: clamp(1.6rem, 2.4vw, 2.6rem), $weight: 700);
  }

  &__divider {
    flex: 1 1 auto;
    height: 0.3rem;
    background: #000000;
  }

  &__author {
    white-space: nowrap;
    @include styles.setFont(
      $family: (
        'Syne',
        sans-serif,
      ),
      $weight: 700,
      $color: #00bc8f,
      $letter-spacing: -0.05em
    );
  }

  &__email {
    position: absolute;
    left: styles.$g-pad-x;
    bottom: clamp(4rem, 10vw, 8rem);
    text-decoration: none;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  &__scroll-btn {
    position: absolute;
    right: styles.$g-pad-x;
    bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  &__arrow-box {
    @include arrows.arrow-bounce;
    display: flex;
    justify-content: center;
    width: 65px;
  }

  &__scroll-btn-hint {
    margin-top: 8px;
    @include styles.setFont($weight: 600);
    text-align: center;
  }
}
