<footer class="footer" id="footer">
  <div class="footer__container">
    <div class="footer__left">
      <a
        class="footer__logo-link"
        routerLink="/"
        fragment="hero"
        [attr.aria-label]="'FOOTER.LOGO_ARIA' | translate"
      >
        <img
          src="/assets/img/icons/00-logo/brand-identity-logos/personal-brand-header-footer.svg"
          [attr.alt]="'FOOTER.LOGO_ALT' | translate"
        />
      </a>
      <span class="footer__note"> © {{ userDBS.ownerProfile.fullName }} 2026 </span>
      <a class="footer__email" routerLink="/" fragment="contact">
        {{ userDBS.ownerProfile.mail }}
      </a>
    </div>

    <div class="footer__right">
      <div class="footer__social-channels" [attr.aria-label]="'FOOTER.SOCIAL_ARIA' | translate">
        <a
          [href]="userDBS.ownerProfile.githubUrl"
          target="_blank"
          rel="noreferrer"
          [attr.aria-label]="'FOOTER.SOCIAL_GITHUB_ARIA' | translate"
        >
          <img
            class="footer__social-icon"
            src="/assets/img/icons/07-footer/github.svg"
            [attr.alt]="'FOOTER.SOCIAL_GITHUB_ALT' | translate"
          />
        </a>
        <a [href]="userDBS.mailtoUrl" [attr.aria-label]="'FOOTER.SOCIAL_MAIL_ARIA' | translate">
          <img
            class="footer__social-icon"
            src="/assets/img/icons/07-footer/mail.svg"
            [attr.alt]="'FOOTER.SOCIAL_MAIL_ALT' | translate"
          />
        </a>
        <a
          [href]="userDBS.ownerProfile.linkedinUrl"
          target="_blank"
          rel="noreferrer"
          [attr.aria-label]="'FOOTER.SOCIAL_LINKEDIN_ARIA' | translate"
        >
          <img
            class="footer__social-icon"
            src="/assets/img/icons/07-footer/linkedIn.svg"
            [attr.alt]="'FOOTER.SOCIAL_LINKEDIN_ALT' | translate"
          />
        </a>
      </div>
      <a class="footer__legal-link" routerLink="/legal-notice" fragment="top">{{
        'FOOTER.LEGAL_NOTICE' | translate
      }}</a>
    </div>
  </div>
</footer>
